<!-- editUser.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>
  <h1>Edit User</h1>
  <form action="/update/<%= player._id %>" method="post">
    <input type="text" name="playerName" value="<%= player.playerName %>" placeholder="Player's Name" required>
    <input type="number" name="playerNumber" value="<%= player.playerNumber %>" placeholder="Player's Number" required>
    <input type="number" name="goals" value="<%= player.goals %>" placeholder="Player's Goals" required>
    <button type="submit">Update User</button>
  </form>
  <a href="/">Back to Roster</a>
</body>
</html>
